<div id="<%= dom_id conversion %>">
  <p>
    <strong>Authorid:</strong>
    <%= conversion.authorId %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= conversion.amount %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= conversion.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= conversion.User_id %>
  </p>

</div>
