<div class="home-page">
  <div class="navbar">
      <%= link_to "🢀", '/', class: 'back-link'%>
      <p class='nav-text'>DETAILS</p>
      <div></div>
  </div>
  <div class="categories">
    <div class="category">
      <%= render @group %>
    </div>
    <% @group.group_conversions.each do |group_conversion| %>
    <div class="category">
      <div class="category-unit">
        <div >
          <h4>Transaction N: <%= group_conversion.conversion.id %></h4>
          <p><%= group_conversion.conversion.name %></p>
        </div>
        <p class="total-price">$<%= group_conversion.conversion.amount %></p>
      </div>
    </div>
    <% end %>
    <div class="add-btn-container">
  <%= button_to "Add a new transaction", new_group_group_conversion_path(@group), class: 'add-btn', method: :get %>
  </div>
  </div>


<%= form_with(model: GroupConversion.new, url: group_group_conversions_path(@group), method: :post) do |f| %>
      <div>
        
        <%= f.collection_select :conversion_id,  @conversions, :id, :name %>
      </div>
      <%= f.submit 'Add ingredient' %>
<% end %>
</div>